.App{
    min-height: 100vh;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

.search-form{
    
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.search-bar{
    width: 10%;
    border: none;
    padding: 10px;
    border-radius: 5px;
}
.search-btn{
    margin-left: 2px;
    border-radius: 5px;
    background:#ab92d4;
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;

}
.recipe{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}